.background {
  background-color: gray;
}

.card {
  background: rgba(252, 252, 252, 0.20);
}

.interfont{
  font-family: 'Inter', sans-serif;
}

.blur {
  background: rgba(252, 252, 252, 0.45);
  backdrop-filter: blur(64px);
}

.sliderBg {
  background: rgba(252, 252, 252, 0.45);
  backdrop-filter: blur(64px);
  
}

.sliderCard {
  background: rgba(252, 252, 252, 0.50);
  position: relative;
}